.product-card {
    background-color: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;

    &__picture {
        width: 180px;
        height: 180px;
        border-radius: 4px;
        background-color: $lightgray;
        object-fit: contain;
        object-position: center;
    }

    .product-information {
        &__title {
            font-size: 1.125rem;
        }

        &__price-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: .5rem 0 2rem 0;
        }

        &__price {
            font-size: 1.3rem;
            color: $black;
            font-weight: 500;
        }

        &__place {
            position: absolute;
            right: 2.5rem;
            top: 3rem;
            font-size: .75rem;
        }
    }
}